<!DOCTYPE html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'authforms/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'authforms/css/style.css' %}">
</head>
<body>
    <div style="padding-top: 3rem;">&nbsp;</div>
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{form.username}}
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                {{form.email}}
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                {{form.password1}}
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                {{form.password2}}
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'authforms/images/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'login' %}" class="signup-image-link">Already a user? Signin Here</a>
                    </div>
                </div>
            </div>
        </section>

    <script src="{% static 'authforms/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'authforms/js/main.js' %}"></script>
</body>
</html>